* {
    box-sizing: inherit;
}
html {
    -webkit-text-size-adjust: 100%;
}
body {
    /*font-size: 13px;*/
    font-family: 'Times New Roman', Times, serif;
}
div.container {
    width: 940px;
    margin: auto;
    text-align: left;
}
.clearfix {
    display: inline-block;
}
div.wrap {
    position: relative;
}
header {
    height: 93px;
    margin-top: 42px;
}
h1 {
    font-size: 25px;
    font-weight: normal;
    margin: 0;
    clear: both;
}
a {
    text-decoration: none;
}
main {

}
footer {

}
.link-ls {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
li#inline {
    display: inline-block;
}
.lang-sel-ls {
    position: absolute;
    right: 0px;
    top: 35px;
    margin: 0px;
}
.lang-sel-options span:before {
    content: "| " !important;
}
#pri-menu {
    font-size: 19px;
}
#sec-menu {
    font-size: 14px;
}
::marker {
    content: none;
}